<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">oldal címe</title>
</head>

<body>

    <form action="#" th:action="@{/index}" th:object="${productsModel}" method="post">
        <table id="productsTable">
            <thead>
                <tr>
                    <th>termék neve</th>
                    <th>ár</th>
                    <th>megapack-e</th>
                    <th>darabszám</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product, stat : *{products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.megaPack}"></td>
                    <td>
                        <input type="hidden" th:field="*{products[__${stat.index}__].name}" />
                        <input type="hidden" th:field="*{products[__${stat.index}__].price}" />
                        <input type="hidden" th:field="*{products[__${stat.index}__].megaPack}" />
                        <input type="text" th:field="*{products[__${stat.index}__].amount}" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
    </form>
</body>

</html>